# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [4]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [5]:
L[0][0][6]

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [6]:
L[2][1][2]

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [7]:
L[3][7][1][2]

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [8]:
L[-1][-2]

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [37]:
L[3][-3::3]

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [45]:
L[2][1][1::3]

[[47, 48]]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [57]:
L[3][-2][1][1::]

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [66]:
range(5)

range(0, 5)

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [68]:
range(3,5)

range(3, 5)

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [72]:
range(4,20,4)

range(4, 20, 4)

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [74]:
range(16,0,-4)

range(16, 0, -4)

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [75]:
range(0,11,5)

0
5
10

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [0]:
range(10,-1,-5)

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [77]:
range(-10,0,1)

range(-10, 0)

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [80]:
range(-10,-35,-6)

range(-10, -35, -6)

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [94]:
seconds = int(input('Введите количество секунд с начала суток : '))
h = seconds // 3600 #Целое количество часов#
m = (seconds - h*3600) // 60 #Целое количество минут#
s = (seconds - h*3600 - m*60) #Количество секунд#
m1 = '0' + str(m)
s1 = '0' + str(s)
print(str(h) + ':' + m1[-2:] + ':' + s1[-2:])

Введите количество секунд с начала суток : 3800
1:03:20

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [5]:
speed = int(input('Введите скорость движения автомобиля '))
time = int(input('Введите время движения по МКАД '))
distance = speed * time #Расстояние по МКАД, которое проехал авто с заданной скоростью за указанное время
km = distance - (distance // 109) * 109 
print('При движении со скоростью V=', speed, 'км/ч в течение ',  time, 'часов авто будет на ', km, 'км МКАД')

Введите скорость движения автомобиля 90
Введите время движения по МКАД 4
При движении со скоростью V= 90 км/ч в течение  4 часов авто будет на  33 км МКАД


### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [7]:
number = input('Введите 5ти значное ')
summa = int(number[0]) + int(number[1]) + int(number[2]) + int(number[3]) + int(number[4])
print ('Сумма цифр числа ', number, ' равна ', summa)

Введите 5ти значное22222
Сумма цифр числа  22222  равна  10

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [10]:
number = input('Введите 4х значное число ')
print(number[2:] + number[:2])

Введите 4х значное число 8734
3487

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [9]:
kminday = input('Дневной пробег автомобиля, км: ')
lengthway = input('Расстояние, км: ')
days = int(lengthway) // int(kminday) + (int(lengthway) % int(kminday) > 0)
print('Для преодоления расстояния в ', lengthway, 'км при дневном пробеге ', kminday , 'км потребется  ')
print(days, ' дней')

Дневной пробег автомобиля, км: 35
Расстояние, км: 1234
Для преодоления расстояния в  1234 км при дневном пробеге  35 км потребется
36  дней

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [14]:
price = input('Введите стоимость 1 авокадо через пробел рублей копеек: ')
kol = input('Сколько покупается авокадо, шт.: ')
priceRu = int(price.split(' ')[0]) * 100 + int(price.split(' ')[1])
cost = priceRu * int(kol)
print('За ', kol, 'авокадо нужно заплатить')
print(cost//100,'руб. ', cost%100,'коп.')

Введите стоимость 1 авокадо через пробел рублей копеек: 20 50
Сколько покупается авокадо, шт.: 3
6150
За  3 авокадо нужно заплатить
61 руб.  50 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [16]:
fio = input('Введите Имя Отчество Фамилию')
print(fio.split(' ')[2],fio.split(' ')[0],fio.split(' ')[1])

Введите Имя Отчество ФамилиюПетр Михайлович Карабанов
Карабанов Петр Михайлович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [15]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [17]:
find_value = input('Введите блюдо для замены: ')
new_value = input('Введите новое блюдо: ')
print('Исходный список блюд')
print(order)
order[order.index(find_value)] = new_value
print('Измененный список блюд')
print(order)

Введите блюдо для замены: салат Цезарь
Введите новое блюдо: Винегрет
Исходный список блюд
['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']
Измененный список блюд
['белое вино', 'Винегрет', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

__________________
Вам дан словарь c расписанием на неделю.

In [26]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [27]:
diary.pop('суббота')
diary.pop('воскресенье')
diary[('суббота','воскресенье')] = ['посадить цветы']
print(diary)
# Список не может быть ключом!!!

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, ('суббота', 'воскресенье'): ['посадить цветы']}

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [23]:
diary['вторник']['утро'].append('поход к зубному')

['погулять с собакой', 'поход к зубному']

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [25]:
diary['пятница']['вечер'][diary['пятница']['вечер'].index('поход в театр')]='поход в кино'

['поход в кино', 'ужин в кафе']

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [0]:
diary['среда']['утро'].remove('погулять с собакой')
diary['среда']['день'].remove('погулять с собакой')
diary['среда']['вечер'].remove('погулять с собакой')
diary['четверг']['утро'].remove('погулять с собакой')
diary['четверг']['день'].remove('погулять с собакой')
diary['четверг']['вечер'].remove('погулять с собакой')

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [26]:
print(diary['пятница']['утро'][1])

помыть машину